body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.room-section {
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
}

.text-big-header {
  font-size: 35px;
  color: #000;
}

.text-big-size {
  font-size: 50px;
  color: #000;
}

.queue-room {
  /* border: 1px solid #155724 !important; */
  border-radius: 5px;
  font-size: 54px; 
  font-weight: bolder;
  color:#FFF;
  background-color: #557C56;
  display: inline-block;
  width: 100%;
}

.queue-number-current-block {
  border: 1px solid #222 !important;
  border-radius: 5px;
  font-size: 54px; 
  font-weight: bolder;
  color:#000;
  background-color: #155724;
  display: inline-block;
  width: 300px;
}

.queue-number-block {
  color:#51585e !important;
  width:120px;
}

.queue-room-count-6 .queue-room,
.queue-room-count-6 .queue-number-current-block,
.queue-room-count-6 .queue-number-block {
  font-size: 88px;
}

.queue-room-count-7 .queue-room,
.queue-room-count-7 .queue-number-current-block,
.queue-room-count-7 .queue-number-block {
  font-size: 74px;
}

.queue-room-count-8 .queue-room,
.queue-room-count-8 .queue-number-current-block,
.queue-room-count-8 .queue-number-block {
  font-size: 63px;
}

.block-line {
  display: inline-block; /* Ensures the span behaves like an inline block */
  width: 20px; /* Adjust width as needed */
  height: 100%; /* Sets the height to fill the table cell */
}
.block-list-item {
  width:70px;
}
.bg-nav {
  background-color: #155724  ;
}

.bg-nav-red {
  background-color: #b02a37  ;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-fixed {
  background-color: #f8f9fa; /* สีพื้นหลังของ footer */
  text-align: center;
  padding: 1rem;
  width: 100%;
  color: #6c757d; /* สีของข้อความ */
  margin-top: auto;
  font-size: 10px;
  height: 25px;
}

.footer-fixed a {
  color: #6c757d; /* สีของลิงค์ */
  text-decoration: none;
  font-size: 10px;
}

.footer-fixed a:hover {
  color: #343a40; /* สีของลิงค์เมื่อชี้ */
}

.new-queue {
  background-color: green;
  transition: background-color 10s ease-out;
}

/* หลังจาก 10 วินาทีจะกลายเป็นสีขาว */
.new-queue {
  background-color: white;
}