/* styles.css */

/* CSS สำหรับ queue-management.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

/* CSS สำหรับ queue-display.html */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
