body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.room-section {
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
}

.prompt-thin {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.prompt-extralight {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.prompt-light {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-extrabold {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.prompt-black {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.prompt-thin-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.prompt-extralight-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.prompt-light-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.prompt-regular-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.prompt-medium-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.prompt-semibold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.prompt-bold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.prompt-extrabold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.prompt-black-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.text-big-size {
  font-size: 34px;
  color: #000;
}
.block-line {
  display: inline-block; /* Ensures the span behaves like an inline block */
  width: 20px; /* Adjust width as needed */
  height: 100%; /* Sets the height to fill the table cell */
}
.block-list-item {
  width:70px;
}
.bg-nav {
  background-color: #155724  ;
}

.bg-nav-red {
  background-color: #b02a37  ;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-fixed {
  background-color: #f8f9fa; /* สีพื้นหลังของ footer */
  text-align: center;
  padding: 1rem;
  width: 100%;
  color: #6c757d; /* สีของข้อความ */
  margin-top: auto;
  font-size: 9px;
}

.footer-fixed a {
  color: #6c757d; /* สีของลิงค์ */
  text-decoration: none;
  font-size: 9px;
}

.footer-fixed a:hover {
  color: #343a40; /* สีของลิงค์เมื่อชี้ */
}